@model HansJuergenWeb.WebHJ.Models.UploadModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lorem Ipsum!</h1>
    <p class="lead">Bla bla bla</p>
    <p><a href="https://hansjuergen.net" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Uploading</h2>
        @using (Html.BeginForm("Post", "Upload", FormMethod.Post,new { enctype = "multipart/form-data" }))
        {

            @Html.LabelFor(m => m.Description)
            <div>
                @Html.TextBoxFor(m => m.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div style="margin-top: 20px"></div>

            @Html.LabelFor(m => m.Email)
            <div>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            
            <div style="margin-top: 20px"></div>
            
            @Html.Label("Data files, positive and negative files")
            <div>
                <input type="file" name="FileUpload" multiple="multiple" />    
            </div>
            
            <div style="margin-top: 20px"></div>
                        
            <input type="submit" value="Upload" class="btn" />

            <div class="err">
                @Html.ValidationSummary()
            </div>
        }
    </div>
</div>